<html>
<head>
<title>수식퍼즐 생성기</title>
</head>
<body>
<h1>수식퍼즐 생성기</h1>
<form action="/" method="get">
<div>
<h2>크기:</h2>
<div><label><input type="radio" name="size" value=3 />3x3</label></div>
<div><label><input type="radio" name="size" value=4 checked="checked"/>4x4</label></div>
<div><label><input type="radio" name="size" value=5 />5x5</label></div>
</div>
<div>
<h2>난이도:</h2>
<div><label><input type="radio" name="difficulty" value=1 />쉬움</label></div>
<div><label><input type="radio" name="difficulty" value=2 checked="checked" />중간</label></div>
<div><label><input type="radio" name="difficulty" value=3 />어려움</label></div>
</div>
<div>
<h2>생성</h2>
<input type="submit" value="생성" />
</div>
</form>
</body>
</html>
